{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rezerv edilmişlər</title>
</head>
<body>

{% for reserve in reserves %}





{{ reserve.restaurant.name }}
<img src="{{ reserve.restaurant.restaurantimages_set.first.images.url }}" alt="">
{{ reserve.date }}/{{ reserve.hour }}




{% endfor %}

</body>
</html>
